<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    <h2>Square of Numbers</h2>
    {% for i,j in param1 %}
    <p>Square of {{i}} is {{j}}</p>
    {% endfor %}
    <br>
    <h2>Factorial of Numbers</h2>
    {% for i,j in param2 %}
    <p>Factorial of {{i}} is {{j}}</p>
    {% endfor %}
</body>
</html>